* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  /* width: 200vw; */
  height: 100%;
  margin-top: 0.8%;
  /* bottom: 1%; */

  /* min-width: 700px;
  min-height: 680px; */
  /* height: 200vw; */
}

h4 {
  font-weight: 400;
  font-size: 1.5vw;

  /* padding-bottom: 3px; */
  line-height: 100%;
}

h1:hover {
  /* line-height: 1.3;
  font-size: 24;
  border-bottom: solid 2px #000;
  display: inline; */
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
}

a:active {
  color: black;
  background-color: transparent;
}

.container {
  padding-top: 0.3vw;
  grid-template-columns: 10% 61% auto 10%;
  grid-template-rows: 5vw 40vw 50vw 5vw;
  grid-gap: 1vw;
  display: grid;
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  /* width: 100vh; */
}

.signInUpDiv {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 9000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.outerSignDiv {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  pointer-events: none;
}

.signInUpContent {
  pointer-events: auto;
  border-radius: 1%;
  position: relative;
  display: grid;
  grid-template-columns: 10% 80% 10%;

  grid-template-rows: 40% 6% 49%;
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 30vw;
  width: 50vw; /* Could be more or less, depending on screen size */
}

.signInForm {
  display: grid;
  grid-template-columns: auto;
  display: relative;

  grid-template-rows: 20% 25% 25% 30%;
  grid-column-start: 1;
  grid-column-start: 2;
  grid-row-start: 0;
  grid-row-start: 1;
}

.signInForm > label {
  top: 0;
  bottom: 0;
  font-size: 1.5vw;
  padding-left: 2%;
  grid-row-start: 0;
  grid-row-start: 1;
}

.signInUsername {
  outline: none;
  top: 0;
  bottom: 0;
  padding-left: 2%;
  grid-row-start: 1;
  grid-row-start: 2;
}

.signInPassword {
  outline: none;
  top: 0;
  bottom: 0;
  padding-left: 2%;
  grid-row-start: 2;
  grid-row-start: 3;
}

.signInSubmit {
  background-color: #1c68f7;
  color: white;
  outline: none;
  font-size: 1.5vw;
}

.signUpForm {
  display: grid;
  grid-template-columns: auto;
  display: relative;

  grid-template-rows: 15% 20% 20% 20% 25%;
  height: 100%;
  grid-column-start: 1;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-start: 3;
}

.signUpForm > label {
  font-size: 1.5vw;
  top: 0;
  bottom: 0;
  padding-left: 2%;
  grid-row-start: 0;
  grid-row-start: 1;
}

.signUpUsername {
  outline: none;
  padding-left: 2%;
  grid-row-start: 1;
  grid-row-start: 2;
}

.signUpPassword1 {
  outline: none;
  padding-left: 2%;
  grid-row-start: 2;
  grid-row-start: 3;
}

.signUpPassword2 {
  outline: none;
  padding-left: 2%;
  padding-left: 2%;
  grid-row-start: 3;
  grid-row-start: 4;
}

.signUpSubmit {
  background-color: #1c68f7;
  color: white;
  grid-row-start: 4;
  grid-row-start: 5;
  outline: none;
  font-size: 1.5vw;
}

.dropbtn {
  background-color: white;
  color: black;

  font-size: 1.6vw;
  border: none;
  cursor: pointer;
  float: right;
  height: 100%;
  border-radius: 4%;
  border: 1px solid lightgray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;

  align-self: center;
  /* justify-content: center; */
  height: 100%;
  float: right;
  z-index: 8000;
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 4;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  font-weight: 900;
  font-size: 1.7vw;
  position: absolute;
  width: 100%;
  z-index: 8000;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 8000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  z-index: 8000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
  display: inline-block;
  z-index: 8000;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover .dropdown-content {
  background-color: white;
  border: none;
  z-index: 8000;
  border: 1px solid white;
  display: block;
  position: relative;
  display: inline-block;
}

.imageLogo {
  grid-column-start: 1;
  grid-column-end: 2;
  cursor: pointer;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: left;
  height: 100%;
  width: 100%;
}

.header {
  position: relative;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  height: 100%;
}

.searchFormDiv {
  /* height: 5vw; */
  display: grid;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  /* padding-left: 2vw; */
  /* margin-top: 1%; */
}

.searchForm {
  display: grid;
  position: absolute;
  width: 100%;
  /* overflow: hidden; */
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  grid-column-start: 2;
  grid-column-end: 3;

  margin-top: 1%;
}

.searchInput {
  height: calc(100% - 4px);
  font-size: 1.4vw;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  letter-spacing: 2px;
  border: 1px solid lightgray;
  padding-left: 10px;
  outline: none;
}

.mainLogo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  margin-right: 10%;
}

.searchSubmit {
  top: 0;
  background-image: url("../images/Screen.png");
  background-position: center;
  background-color: #0064fe;
  background-repeat: no-repeat;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  grid-column-start: 2;
  grid-column-end: 3;
  background-size: cover;
  outline: none;
  padding: 0;
  border: 0px solid transparent;
}

.searchSubmit:active {
  border: 1px solid white;
}

/* .searchButton {
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 3vw;
  width: 20%;
} */

.defaultArticlesDiv {
  display: grid;
  overflow: hidden;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
}

.weatherWidget {
}

.fourArticlesCard0 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  grid-column-start: 1;
  grid-column-end: 2;
}
.fourArticlesCard1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}
.fourArticlesCard2 {
  text-overflow: ellipsis;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;

  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}
.fourArticlesCard3 {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}

.fourSubTitle {
  grid-row-start: 2;
  font-weight: 500;
  font-size: 1.2vw;
  grid-row-end: 3;
  padding-top: 3%;
  /* top: 0; */
  /* bottom: 0; */

  margin: auto;
}

.fourSubArticlesDiv {
  text-overflow: ellipsis;
  top: 1vw;
  position: relative;

  display: grid;
  grid-gap: 1%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.fourSubImage {
  grid-row-start: 1;
  grid-row-end: 2;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.mainArticleDiv {
  overflow: hidden;

  display: grid;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: 60% 2% 36% 2%;
  grid-template-rows: auto auto 15%;
}

.mask {
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.7;
  z-index: 4;
  position: absolute;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mainTitleGrid {
  position: absolute;
  grid-column-start: 3 !important;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;
  left: 0;
}

.mainArticleTitle {
  overflow: hidden;
  font-size: 1.5vw;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  z-index: 6000;
  height: 100%;
  width: 100%;
  left: 0;
  vertical-align: center;
  line-height: 150%;
  position: absolute;
  grid-column-start: 3 !important;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline;
}

.mainArticleTitle:hover {
  text-decoration: underline;
}

.mainArticleDescription {
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  color: white;
  z-index: 6000;
  height: 100%;
  width: 90%;
  left: 0;
  vertical-align: center;
  line-height: 130%;
  position: absolute;
  grid-column-start: 3 !important;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  top: 0;
  bottom: 0;
  display: inline;
}

.mainArticleImage {
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.mainArticleImageBlur {
  opacity: 0.6;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transform: scaleX(-1);
  -webkit-filter: blur(30px);
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center;
}

.fourArticlesCard {
  overflow: auto;
}

.filteredSearchImage {
  max-height: 10em;
}

.filteredSearchCard {
  overflow: auto;
}

.RAdiv {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  top: 0%;
  left: 0%;
  left: 0;
  right: 0;
  height: 100%;
  grid-template-columns: 100%;
  margin-top: 5%;

  /* grid-template-rows: auto;
  grid-auto-rows: auto; */
  grid-gap: 1%;
  position: absolute;
}

.RAcard {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 30% 70%;
  grid-template-rows: 40% 60%;
  height: 7.5vw;
  padding-top: 2%;
  padding-bottom: 10%;
}

.RAdescription {
  overflow: hidden;
  position: absolute;
  margin-top: 0;
  left: 2%;
  top: 12%;
  font-size: 1.2vw;
  height: 100%;
  letter-spacing: 0;
  line-height: 120%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.RAimage {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
}

.RAtitle {
  overflow: hidden;
  position: absolute;
  margin-top: 0;
  vertical-align: center;
  left: 2%;
  right: 2%;
  top: 0;
  color: #020e65;
  bottom: 0;
  height: 100%;
  letter-spacing: 0;
  font-weight: 700 !important;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.RAtitle:hover {
  color: #324fe1;
}

.filteredSearchDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: -1;
  display: grid;
  position: absolute;
  grid-template-columns: 100%;
  /* grid-template-rows: auto; */
  /* grid-auto-rows: auto; */
  grid-gap: 1vw;
  position: relative;
  overflow: hidden;
}

.filteredSearchCard {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 26% 84%;
  grid-template-rows: 3vw 1vw 5vw;
  width: 100%;
  height: 100%;

  /* height: 100%; */
  /*
  border-top:1px solid gray; */

  top: 0;
  bottom: 0;
}

.filteredSearchDescription {
  overflow: hidden;
  position: absolute;
  margin: 0;
  left: 2%;

  top: 0;
  bottom: 23%;
  font-size: 1.2vw;
  height: 100%;
  letter-spacing: 1px;
  line-height: 120%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 80%;
  font-size: 0.9vw;
  padding-bottom: 4%;
}

.filteredSearchImage {
  position: absolute;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4 !important;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.filteredSearchTitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
  width: 80%;
  position: absolute;

  left: 2%;
  right: 2%;
  top: 0;
  padding-top: 0;

  bottom: 0;
  height: 100%;
  letter-spacing: 0;
  font-size: 1vw;
  font-weight: 700 !important;
}
