* {
  font-family: "Heebo", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 100%;
  padding: 1em 1em;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.body_wrapper {
  display: grid;
}

.header {
}

.defaultArticlesDiv {
}

.weatherWidget {
}

.fourSubArticlesDiv {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid green;
  padding: 25px;
  margin: 25px;
}

.fourSubImage {
  max-height: 10em;
}

.fourSubImageCard {
}

.mainArticleDiv {
  background-color: lightgrey;
  width: 700px;
  border: 5px solid blue;
  padding: 25px;
  margin: 25px;
}

.mainArticleImage {
  max-height: 20em;
}

.filteredSearchDiv {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid gray;
  padding: 25px;
  margin: 25px;
}

.filteredSearchImage {
  max-height: 10em;
}

.filteredSearchCard {
  overflow: auto;
}
