* {
  font-family: "Heebo", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}



.container{
  background-color: #944743;
  grid-template-columns: 10% auto 25% 18%;
  grid-template-rows: 10vh 70vh 20vh;
  grid-gap: 3px;
  min-width: 100vw;
  display: grid;
  margin: 0 auto;
  overflow: auto;
}

.imageLogo {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
}

.header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
}

.searchInput {
  height: 100%;
  width: 80%;
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.mainLogo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}



.searchSubmit {
  height: 100%;
  position: absolute;
  width: 18%;
}

.searchForm {
  position: relative;
  height: 100%;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 3;
}

.defaultArticlesDiv {
  display: grid;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
}

.weatherWidget {
}

.fourArticlesCard0 {
  position: absolute;
  width: 25%;
  grid-column-start: 1;
  grid-column-end: 2;

}
.fourArticlesCard1 {
position: absolute;
  grid-column-start: 2;
  grid-column-end: 3;

}
.fourArticlesCard2 {
position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;

}
.fourArticlesCard3 {
position: absolute;
  grid-column-start: 4;
  grid-column-end: 5;

}

.fourSubArticlesDiv {
/* position: absolute; */

  background-color: lightgrey;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;



}

.fourSubImage {
  max-height: 10em;
}

.mainArticleDiv {

  display: grid;
  background-color: #ECDB54;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: auto;
  grid-template-rows: 65% 35%;

}
.mainAriticleTitle{
  grid-row-start: 2;
  grid-row-end: 3;
}

.mainArticleImage {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;

}

.fourArticlesCard {
  overflow: auto;
}

.filteredSearchDiv {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid gray;
  padding: 25px;
  margin: 25px;
}

.filteredSearchImage {
  max-height: 10em;
}

.filteredSearchCard {
  overflow: auto;
}
